@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@source inline("w-[{0..100..5}%]");

/* Shimmer effect */
@keyframes shimmer {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(250%); }
}


 
.animate-shimmer {
  animation: shimmer 1.4s ease-in-out infinite;
}